﻿@using System.Globalization
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model PM_QLHS.Models.DiemViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý điểm";
}

<div class="content-wrapper content-wrapper-custom">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h4 class="card-title">Danh sách điểm</h4>
                    <button type="button" onclick="handleThem()" class="btn btn-primary btn-icon-text btn-fw">
                        <i class="mdi mdi mdi-plus btn-icon-prepend"></i> Thêm
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-custom">
                            <thead>
                                <tr>
                                    <th>Mã điểm</th>
                                    <th>Họ tên</th>
                                    <th>Môn học</th>
                                    <th>Học kỳ</th>
                                    <th>Điểm 15 phút</th>
                                    <th>Điểm 1 tiết</th>
                                    <th>Điểm học kỳ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Diems != null && Model.Diems.Items != null && Model.Diems.Items.Count() > 0)
                                {
                                    @foreach (var patient in Model.Diems.Items)
                                    {
                                        <tr>
                                            <td>@patient.MaDiem</td>
                                            <td>@patient.HoTen</td>
                                            <td>@patient.TenMonHoc</td>
                                            <td>@patient.TenHocKy</td>
                                            <td>@patient.Diem15Phut</td>
                                            <td>@patient.Diem1Tiet</td>
                                            <td>@patient.DiemHocKy</td>
                                            <td class="btn-group-action">
                                                <button type="button" class="btn btn-primary btn-icon" onclick="handleSua(@patient.MaDiem)">
                                                    <i class="mdi mdi-border-color"></i>
                                                </button>
                                                <a class="btn btn-primary btn-icon" asp-controller="Diem" asp-action="Delete" asp-route-id="@patient.MaDiem">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-custom" id="modalDiem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDiemLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-custom">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title" id="modalDiemLabel" data-type='Create'>Thêm học sinh</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Học sinh</label>
                                <select id="slHocSinh" class="js-example-basic-single" style="width:100%">
                                    <option value="">Chọn học sinh</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Môn học</label>
                                <select id="slMonHoc" class="js-example-basic-single" style="width:100%">
                                    <option value="">Chọn môn</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Học kỳ</label>
                                <select id="slHocKy" class="js-example-basic-single" style="width:100%">
                                    <option value="">Chọn học kỳ</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Điểm 15 phút</label>
                                <input type="number" id="txtDiem15Phut" class="form-control" placeholder="Điểm 15 phút">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Điểm 1 tiết</label>
                                <input type="number" id="txtDiem1Tiet" class="form-control" placeholder="Điểm 1 tiết">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Điểm học kỳ</label>
                                <input type="number" id="txtDiemHocKy" class="form-control" placeholder="Điểm học kỳ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-icon-text btn-fw" data-bs-dismiss="modal">
                        <i class="mdi mdi mdi mdi-close-circle-outline btn-icon-prepend"></i> Đóng
                    </button>
                    <button type="button" onclick="handleSave()" class="btn btn-primary btn-icon-text btn-fw">
                        <i class="mdi mdi  mdi-file-check btn-icon-prepend"></i> Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(async function() {
            const dataHS = getAllHS()
            const dataMH = getAllMonHoc()
            const dataHK = getAllHocKy()
            const resHS = await dataHS
            const resMH = await dataMH
            const resHK = await dataHK

            if (resHS.data) {
                resHS.data.forEach((element) => {
                    $('#slHocSinh').append(`<option value="${element.maHocSinh}"> ${element.hoTen}</option>`);
                });
            }

            if (resMH.data) {
                resMH.data.forEach((element) => {
                    $('#slMonHoc').append(`<option value="${element.maMonHoc}"> ${element.tenMonHoc}</option>`);
                });
            }

            if (resHK.data) {
                resHK.data.forEach((element) => {
                    $('#slHocKy').append(`<option value="${element.maHocKy}"> ${element.tenHocKy}</option>`);
                });
            }
        });

        function clearData() {
            $('#slMonHoc').val('').change();
            $('#slHocSinh').val('').change();
            $('#slHocKy').val('').change();
            $('#txtDiem15Phut').val('')
            $('#txtDiem1Tiet').val('')
            $('#txtDiemHocKy').val('')
            document.getElementById('modalDiemLabel').setAttribute("data-id", 0)
            document.getElementById('modalDiemLabel').setAttribute("data-type", "Create")
        }

        function validate() {
            let MaMonHoc = $('select[id=slMonHoc] option').filter(':selected').val()
            let MaHocSinh = $('select[id=slHocSinh] option').filter(':selected').val()
            let MaHocKy = $('select[id=slHocKy] option').filter(':selected').val()
            let Diem15Phut = $('#txtDiem15Phut').val()
            let Diem1Tiet = $('#txtDiem1Tiet').val()
            let DiemHocKy = $('#txtDiemHocKy').val()

            if (!MaMonHoc || MaMonHoc == '' ||
                !MaHocSinh || MaHocSinh == '' ||
                !MaHocKy || MaHocKy == '' ||
                !Diem15Phut || Diem15Phut == '' || Diem15Phut < 0 || Diem15Phut > 10 ||
                !Diem1Tiet || Diem1Tiet == '' || Diem1Tiet < 0 || Diem1Tiet > 10 ||
                !DiemHocKy || DiemHocKy == '' || DiemHocKy < 0 || DiemHocKy > 10) {

                toastr.warning('Thông tin chưa hợp lệ. Vui lòng kiểm tra lai.')
                return true
            }
            return false
        }

        async function getAllHS() {
            let dataPromise = new Promise(function(resolve, reject) {
                $.ajax({
                    url: '/HocSinh/GetAll',
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function(data) {
                        //console.log('getAllHS', data)
                        return resolve(data)
                    },
                    error: function(err) {
                        return reject(err)
                        alert('error');
                    }
                });
            });
            return dataPromise
        }

        async function getAllMonHoc() {
            let dataPromise = new Promise(function(resolve, reject) {
                $.ajax({
                    url: '/MonHoc/GetAll',
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function(data) {
                        //console.log('getAllMonHoc', data)
                        return resolve(data)
                    },
                    error: function(err) {
                        return reject(err)
                        alert('error');
                    }
                });
            });
            return dataPromise
        }

        async function getAllHocKy() {
            let dataPromise = new Promise(function(resolve, reject) {
                $.ajax({
                    url: '/HocKy/GetAll',
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function(data) {
                        //console.log('getAllHocKy', data)
                        return resolve(data)
                    },
                    error: function(err) {
                        return reject(err)
                        alert('error');
                    }
                });
            });
            return dataPromise
        }

        async function getDiemById(id) {
            let dataPromise = new Promise(function(resolve, reject) {
                $.ajax({
                    type: "GET",
                    url: "/diem/getById",
                    dataType: "json",
                    data: { id: id },
                    success: function(data) {
                        //console.log('getDiemById', data)
                        return resolve(data)
                    },
                    error: function(err) {
                        return reject(err)
                        console.log(err);
                    }
                });
            });
            return dataPromise
        }

        async function handleThem() {
            clearData()
            $('#modalDiem').modal('show')
        }

        async function handleSua(id) {
            clearData()
            const dataL = getDiemById(id)
            const resL = await dataL
            document.getElementById('modalDiemLabel').setAttribute("data-type", "Edit")
            document.getElementById('modalDiemLabel').setAttribute("data-id", id)
            if (resL.data) {
                let result = resL.data
                console.log('resL', result)
                $('#slMonHoc').val(result.maMonHoc).change();
                $('#slHocSinh').val(result.maHocSinh).change();
                $('#slHocKy').val(result.maHocKy).change();
                $('#txtDiem15Phut').val(result.diem15Phut)
                $('#txtDiem1Tiet').val(result.diem1Tiet)
                $('#txtDiemHocKy').val(result.diemHocKy)
            }

            $('#modalDiem').modal('show')
        }

        function handleSave() {
            if (validate()) return true
            var type = document.getElementById('modalDiemLabel').getAttribute("data-type")
            var id = document.getElementById('modalDiemLabel').getAttribute("data-id")
            let url = type == 'Create' ? '/diem/create' : '/diem/update'
            let method = type == 'Create' ? 'POST' : 'PATCH'
            let Diem15Phut = $('#txtDiem15Phut').val()
            let Diem1Tiet = $('#txtDiem1Tiet').val()
            let DiemHocKy = $('#txtDiemHocKy').val()

            let params = {
                MaDiem: id != 0 ? id : null,
                MaMonHoc: $('select[id=slMonHoc] option').filter(':selected').val(),
                MaHocSinh: $('select[id=slHocSinh] option').filter(':selected').val(),
                MaHocKy: $('select[id=slHocKy] option').filter(':selected').val(),
                Diem15Phut: Diem15Phut == '' ? null : Diem15Phut,
                Diem1Tiet: Diem1Tiet == '' ? null : Diem1Tiet,
                DiemHocKy: DiemHocKy == '' ? null : DiemHocKy
            }
            //console.log('params', params)

            $.ajax({
                type: method,
                url: url,
                dataType: "json",
                data: params,
                success: function(data) {
                    if (data.success) {
                        $('#modalDiem').modal('hide');
                        setTimeout(function() {
                            window.location.href = "/Diem/Index";
                        }, 1500);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

    </script>
</div>
