﻿@using System.Globalization
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model PM_QLHS.Models.DiemViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Tra cứu điểm";
}

<div class="content-wrapper content-wrapper-custom">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-custom">
                <div class="card-header" style="padding-top: 10px; padding-bottom: 10px;">
                    <form action="/Diem/TraCuu" method="post">
                        <div class="form-group row" style="margin-bottom: 0;">
                            <div class="col">
                                <label>Lớp</label>
                                <select id="slLop" asp-for="MaLop" class="js-example-basic-single" style="width:100%">
                                    <option value="">Chọn lớp</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>Học sinh</label>
                                <select id="slHocSinh" asp-for="MaHocSinh" class="js-example-basic-single" style="width:100%">
                                    <option value="">Chọn học sinh</option>
                                </select>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-icon-text btn-fw" style="margin-top: 25px;">
                                    <i class="mdi mdi mdi-filter-outline btn-icon-prepend"></i> Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h4 class="card-title">Danh sách điểm</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-custom">
                            <thead>
                                <tr>
                                    <th>Họ tên</th>
                                    <th>Môn học</th>
                                    <th>Lớp</th>
                                    <th>Học kỳ</th>
                                    <th>Điểm 15 phút</th>
                                    <th>Điểm 1 tiết</th>
                                    <th>Điểm học kỳ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Diems != null && Model.Diems.Items != null && Model.Diems.Items.Count() > 0)
                                {
                                    @foreach (var patient in Model.Diems.Items)
                                    {
                                        <tr>
                                            <td>@patient.HoTen</td>
                                            <td>@patient.TenMonHoc</td>
                                            <td>@patient.TenLop</td>
                                            <td>@patient.TenHocKy</td>
                                            <td>@patient.Diem15Phut</td>
                                            <td>@patient.Diem1Tiet</td>
                                            <td>@patient.DiemHocKy</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(async function() {
            const dataLop = getAllLop()
            const dataHS = getAllHS()
            const resL = await dataLop
            const resHS = await dataHS

            if (resL.data) {
                resL.data.forEach((element) => {
                    $('#slLop').append(`<option value="${element.maLop}"> ${element.tenLop}</option>`);
                });
            }

            if (resHS.data) {
                resHS.data.forEach((element) => {
                    $('#slHocSinh').append(`<option value="${element.maHocSinh}"> ${element.hoTen}</option>`);
                });
            }
        });

        async function getAllLop() {
            let dataPromise = new Promise(function(resolve, reject) {
                $.ajax({
                    url: '/Lop/GetAll',
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function(data) {
                        //console.log('getAllLop', data)
                        return resolve(data)
                    },
                    error: function(err) {
                        return reject(err)
                        alert('error');
                    }
                });
            });
            return dataPromise
        }

        async function getAllHS() {
            let dataPromise = new Promise(function(resolve, reject) {
                $.ajax({
                    url: '/HocSinh/GetAll',
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    data: {},
                    success: function(data) {
                        //console.log('getAllHS', data)
                        return resolve(data)
                    },
                    error: function(err) {
                        return reject(err)
                        alert('error');
                    }
                });
            });
            return dataPromise
        }
    </script>
</div>
