﻿@using System.Globalization
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model PM_QLHS.Class.ViewModels.TaiKhoanVm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Đổi mật khẩu";
}
@*<div class="container-fluid page-body-wrapper full-page-wrapper">*@
<div class="row w-100 m-0">
    <div class="content-wrapper full-page-wrapper d-flex align-items-center">
        <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
                <h3 class="card-title text-left mb-3">Đổi Mật Khẩu</h3>
                <form action="/ChangePassword/Index" method="post" onsubmit="BtnDoiMK.disabled = true; return true;">
                    <div class="form-group">
                        <label>Tên đăng nhập</label>
                        <input type="text" id="txtTenTaiKhoan" asp-for="TenTaiKhoan" class="form-control p_input">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu cũ</label>
                        <input type="password" id="txtMatKhauCu" asp-for="MatKhauCu" class="form-control p_input">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu mới</label>
                        <input type="password" id="txtMatKhau" asp-for="MatKhau" class="form-control p_input">
                    </div>
                    <div class="text-center">
                        <button name="BtnDoiMK" type="submit" class="btn btn-primary btn-block enter-btn">Đổi mật khẩu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- row ends -->
@*</div>*@