﻿@using System.Globalization
@model PM_QLHS.Class.ViewModels.TaiKhoanVm

@if (Model.TenTaiKhoan != null)
{
    <li class="nav-item dropdown">
        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
            <div class="navbar-profile">
                <img class="img-xs rounded-circle" src="~/images/avatar.png" alt="">
                <p class="mb-0 d-none d-sm-block navbar-profile-name">@Model.TenTaiKhoan</p>
                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
            <h6 class="p-3 mb-0">Profile</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                    </div>
                </div>
                <div class="preview-item-content">
                    <form method="post" asp-controller="Home" asp-action="ChangePass">
                        <button type="submit" class="btn btn-link btn-fw" style="text-decoration: none !important;">Đổi mật khẩu</button>
                    </form>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                    </div>
                </div>
                <div class="preview-item-content">
                    <form method="post" asp-controller="Home" asp-action="Logout">
                        <button type="submit" class="btn btn-link btn-fw" style="text-decoration: none !important;">Đăng xuất</button>
                    </form>
                </div>
            </a>
        </div>
    </li>
}