﻿@using System.Globalization
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@model PM_QLHS.Models.GiaoVienViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý giáo viên";
}

<div class="content-wrapper content-wrapper-custom">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-custom">
                <div class="card-header" style="padding-top: 10px; padding-bottom: 10px;">
                    <form action="/GiaoVien/Index" method="post">
                        <div class="form-group row" style="margin-bottom: 0;">
                            <div class="col">
                                <label>Họ tên</label>
                                <input type="text" id="txtSearchHoTen" asp-for="HoTen" class="form-control" placeholder="Họ tên">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-icon-text btn-fw" style="margin-top: 25px;">
                                    <i class="mdi mdi mdi-filter-outline btn-icon-prepend"></i> Tìm kiếm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h4 class="card-title">Danh sách giáo viên</h4>
                    <button type="button" onclick="handleThem()" class="btn btn-primary btn-icon-text btn-fw">
                        <i class="mdi mdi mdi-plus btn-icon-prepend"></i> Thêm
                    </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-custom">
                            <thead>
                                <tr>
                                    <th>Mã giáo viên</th>
                                    <th>Họ tên</th>
                                    <th>Chức vụ</th>
                                    <th>Tên tài khoản</th>
                                    <th>Loại tài khoản</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.GiaoViens != null && Model.GiaoViens.Items != null && Model.GiaoViens.Items.Count() > 0)
                                {
                                    @foreach (var patient in Model.GiaoViens.Items)
                                    {
                                        <tr>
                                            <td>@patient.MaGiaoVien</td>
                                            <td>@patient.HoTen</td>
                                            <td>@patient.TenChucVu</td>
                                            <td>@patient.TenTaiKhoan</td>
                                            <td>@patient.TenLoaiTaiKhoan</td>
                                            <td class="btn-group-action">
                                                <button type="button" class="btn btn-primary btn-icon" onclick="handleSua(@patient.MaGiaoVien)">
                                                    <i class="mdi mdi-border-color"></i>
                                                </button>
                                                <a class="btn btn-primary btn-icon" asp-controller="GiaoVien" asp-action="Delete" asp-route-id="@patient.MaGiaoVien">
                                                    <i class="mdi mdi-delete"></i>
                                                </a>
                                                @if (@patient.MaTaiKhoan == null || @patient.MaTaiKhoan <= 0)
                                                {
                                                    <button type="button" class="btn btn-primary btn-icon" onclick="handleDK(@patient.MaGiaoVien)">
                                                        <i class="mdi mdi-account-plus"></i>
                                                    </button>
                                                } else{
                                                    <button type="button" class="btn btn-primary btn-icon" onclick="handleChangeRole('@patient.TenTaiKhoan')">
                                                        <i class="mdi mdi-account-switch"></i>
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-custom" id="modalGiaoVien" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalGiaoVienLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-custom">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title" id="modalGiaoVienLabel" data-type='Create'>Thêm/Sửa giáo viên</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Họ tên</label>
                                <input type="text" id="txtHoTen" class="form-control" placeholder="Họ tên">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Lớp</label>
                                <select id="slChucVu" class="js-example-basic-single" style="width:100%">
                                    <option disabled selected value="">Chọn chức vụ</option>
                                    <option value="BGH">Ban giám hiệu</option>
                                    <option value="GVien">Giáo viên</option>
                                    <option value="GVu">Giáo vụ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-icon-text btn-fw" data-bs-dismiss="modal">
                        <i class="mdi mdi mdi mdi-close-circle-outline btn-icon-prepend"></i> Đóng
                    </button>
                    <button type="button" onclick="handleSave()" class="btn btn-primary btn-icon-text btn-fw">
                        <i class="mdi mdi  mdi-file-check btn-icon-prepend"></i> Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- popup register -->
    <div class="modal fade modal-custom" id="modalDangKy" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDangKyLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-custom">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title" id="modalDangKyLabel">Đăng ký tài khoản</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Tên tài khoản</label>
                                <input type="text" id="txtResTenTaiKhoan" class="form-control" placeholder="Tên tài khoản">
                                <input type="hidden" id="txtResMaGiaoVien" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Mật khẩu</label>
                                <input type="password" id="txtResMatKhau" class="form-control" placeholder="Mật khẩu">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Loại tài khoản</label>
                                <select id="slResLoaiTK" class="js-example-basic-single" style="width:100%">
                                    <option disabled selected value="">Chọn loại tài khoản</option>
                                    <option value="1">Ban giám hiệu</option>
                                    <option value="2">Giáo viên</option>
                                    <option value="3">Giáo vụ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-icon-text btn-fw" data-bs-dismiss="modal">
                        <i class="mdi mdi mdi mdi-close-circle-outline btn-icon-prepend"></i> Đóng
                    </button>
                    <button type="button" onclick="handleSaveRegister()" class="btn btn-primary btn-icon-text btn-fw">
                        <i class="mdi mdi  mdi-file-check btn-icon-prepend"></i> Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- popup change role -->
    <div class="modal fade modal-custom" id="modalChangeRole" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalChangeRoleLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-custom">
            <div class="modal-content">
                <div class="modal-header ">
                    <h5 class="modal-title" id="modalChangeRoleLabel">Thay đổi loại tài khoản</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Tên tài khoản</label>
                                <input type="text" id="txtCRTenTaiKhoan" class="form-control" placeholder="Tên tài khoản" readonly>
                                <input type="hidden" id="txtCRMaTaiKhoan" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Loại tài khoản</label>
                                <select id="slCRLoaiTK" class="js-example-basic-single" style="width:100%">
                                    <option disabled selected value="">Chọn loại tài khoản</option>
                                    <option value="1">Ban giám hiệu</option>
                                    <option value="2">Giáo viên</option>
                                    <option value="3">Giáo vụ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-icon-text btn-fw" data-bs-dismiss="modal">
                        <i class="mdi mdi mdi mdi-close-circle-outline btn-icon-prepend"></i> Đóng
                    </button>
                    <button type="button" onclick="handleSaveCR()" class="btn btn-primary btn-icon-text btn-fw">
                        <i class="mdi mdi  mdi-file-check btn-icon-prepend"></i> Lưu
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(async function () {

        });

        function clearData() {
            $('#slChucVu').val('').change();
            $('#txtHoTen').val('');
            document.getElementById('modalGiaoVienLabel').setAttribute("data-id", 0);
            document.getElementById('modalGiaoVienLabel').setAttribute("data-type", "Create");
        }

        async function getGVById(id) {
            let dataPromise = new Promise(function (resolve, reject) {
                $.ajax({
                    type: "GET",
                    url: "/giaovien/getById",
                    dataType: "json",
                    data: { id: id },
                    success: function (res) {
                        if (res.success)
                            return resolve(res);
                    },
                    error: function (err) {
                        return reject(err)
                        console.log(err);
                    }
                });
            });
            return dataPromise
        }

        async function handleThem() {
            clearData();
            $('#modalGiaoVien').modal('show');
        }

        async function handleSua(id) {
            clearData();
            const dataGV = getGVById(id);
            const resGV = await dataGV;
            document.getElementById('modalGiaoVienLabel').setAttribute("data-type", "Edit")
            document.getElementById('modalGiaoVienLabel').setAttribute("data-id", id)
            if (resGV.data) {
                let result = resGV.data;
                $('#slChucVu').val(result.chucVu).change();
                $('#txtHoTen').val(result.hoTen);
            }

            $('#modalGiaoVien').modal('show');
        }

        function handleSave() {
            var type = document.getElementById('modalGiaoVienLabel').getAttribute("data-type")
            var id = document.getElementById('modalGiaoVienLabel').getAttribute("data-id")
            let url = type == 'Create' ? '/giaovien/create' : '/giaovien/update'
            let method = type == 'Create' ? 'POST' : 'PATCH'
            let params = {
                MaGiaoVien: id != 0 ? id : null,
                ChucVu: $('select[id=slChucVu] option').filter(':selected').val(),
                HoTen: $('#txtHoTen').val()
            }
            //console.log('params', params);
            $.ajax({
                type: method,
                url: url,
                dataType: "json",
                data: params,
                success: function (data) {
                    if (data.success) {
                        $('#modalGiaoVien').modal('hide');
                        setTimeout(function () {
                            window.location.href = "/GiaoVien/Index";
                        }, 1500);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        function clearDataRes() {
            $('#slResLoaiTK').val('').change();
            $('#txtResTenTaiKhoan').val('');
            $('#txtResMaGiaoVien').val('');
            $('#txtResMatKhau').val('');
        }

        async function handleDK(id) {
            clearDataRes();
            $('#txtResMaGiaoVien').val(id);
            $('#modalDangKy').modal('show');
        }

        function handleSaveRegister() {
            let params = {
                MaGiaoVien: $('#txtResMaGiaoVien').val(),
                LoaiTaiKhoan: $('select[id=slResLoaiTK] option').filter(':selected').val(),
                TenTaiKhoan: $('#txtResTenTaiKhoan').val(),
                MatKhau: $('#txtResMatKhau').val()
            }
            if(!params.LoaiTaiKhoan){
                Swal.fire({
                    icon: 'warning',
                    text: 'Vui lòng chọn loại tài khoản!!',
                    showConfirmButton: false,
                    timer: 1500
                });
                return false;
            }
            $.ajax({
                type: 'POST',
                url: '/giaovien/register',
                dataType: "json",
                data: params,
                success: function (data) {
                    if (data.success) {
                        $('#modalGiaoVien').modal('hide');
                        setTimeout(function () {
                            window.location.href = "/GiaoVien/Index";
                        }, 1500);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

        //change role
        async function getTKById(id) {
            let dataPromise = new Promise(function (resolve, reject) {
                $.ajax({
                    type: "GET",
                    url: "/giaovien/getTKById",
                    dataType: "json",
                    data: { id: id },
                    success: function (res) {
                        if (res.success)
                            return resolve(res);
                    },
                    error: function (err) {
                        return reject(err)
                        console.log(err);
                    }
                });
            });
            return dataPromise
        }
        async function handleChangeRole(id) {
            clearData();
            const dataTK = getTKById(id);
            const resTK = await dataTK;
            if (resTK.data) {
                let result = resTK.data;
                $('#slCRLoaiTK').val(result.loaiTaiKhoan).change();
                $('#txtCRMaTaiKhoan').val(result.maTaiKhoan);
                $('#txtCRTenTaiKhoan').val(result.tenTaiKhoan);
            }

            $('#modalChangeRole').modal('show');
        }

        function handleSaveCR() {
            let params = {
                MaTaiKhoan: $('#txtCRMaTaiKhoan').val(),
                LoaiTaiKhoan: $('select[id=slCRLoaiTK] option').filter(':selected').val()
            }
            if (!params.LoaiTaiKhoan) {
                Swal.fire({
                    icon: 'warning',
                    text: 'Vui lòng chọn loại tài khoản!!',
                    showConfirmButton: false,
                    timer: 1500
                });
                return false;
            }
            $.ajax({
                type: 'POST',
                url: '/giaovien/changerole',
                dataType: "json",
                data: params,
                success: function (data) {
                    if (data.success) {
                        $('#modalChangeRole').modal('hide');
                        setTimeout(function () {
                            window.location.href = "/GiaoVien/Index";
                        }, 1500);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }

    </script>
}
