﻿
.btn-icon {
    height: 30px !important;
    width: 30px !important;
    padding: 7px !important;
}

.content-wrapper-custom input.form-control {
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #495057;
}

.content-wrapper-custom textarea.form-control {
    background-color: #fff;
    border: 1px solid #ced4da;
    color: #495057;
}

.content-wrapper-custom label {
    color: var(--bs-body-color);
}

.content-wrapper-custom .modal-title {
    color: #212529;
}

.content-wrapper-custom .modal-header {
    display: flex;
    justify-content: space-between;
    background: #eee;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}

.content-wrapper-custom .modal-footer {
    border-top: 1px solid #dee2e6;
}

.content-wrapper-custom .modal-dialog .modal-content {
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.content-wrapper-custom .modal-dialog-custom {
    width: 70% !important;
}

.card-custom {
    background: #fff !important;
}

.card-header-custom {
    display: flex;
    justify-content: space-between;
    background: #eee;
    align-items: center;
}

.card-header-custom .card-title {
    color: #212529;
    margin-bottom: 0;
}

.btn-group-action {
    text-align: center;
}

.table-custom thead tr th {
    padding: 7px;
    background: #eee;
}

.table-custom tbody tr td {
    padding: 5px;
}

.content-wrapper-custom .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
}

.select2-container--default .select2-dropdown {
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
}

.select2-results {
    color: var(--bs-body-color) !important;
}

.content-wrapper-custom .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
}
