html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/*--------------------- LOGIN ----------------------*/

.login-section-wrapper {
    padding-top: 10%;
}

body .logo {
    color: aliceblue;
    text-decoration: none !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

    body .logo h2:hover {
        text-decoration: none !important;
    }
