﻿@using System.Globalization
@model PM_QLHS.Class.ViewModels.TaiKhoanVm

@if (Model.TenTaiKhoan != null)
{
    <li class="nav-item nav-category">
        <span class="nav-link">Danh mục chức năng</span>
    </li>

    @if (Model.LoaiTaiKhoan == 1 || Model.LoaiTaiKhoan == 0)
    {
        <li class="nav-item menu-items">
            <a asp-controller="Home" asp-action="QuyDinhList" class="nav-link">
                <span class="menu-icon">
                    <i class="mdi mdi-book-multiple"></i>
                </span>
                <span class="menu-title">Quản lý quy định</span>
            </a>
        </li>
    }
    @if (Model.LoaiTaiKhoan == 2 || Model.LoaiTaiKhoan == 0)
    {
        <li class="nav-item menu-items">
            <a asp-controller="Home" asp-action="DiemList" class="nav-link">
                <span class="menu-icon">
                    <i class="mdi mdi-file-check"></i>
                </span>
                <span class="menu-title">Quản lý điểm</span>
            </a>
        </li>
         <li class="nav-item menu-items">
            <a asp-controller="Home" asp-action="TraCuuDiem" class="nav-link">
                <span class="menu-icon">
                    <i class="mdi mdi-file-check"></i>
                </span>
                <span class="menu-title">Tra cứu điểm</span>
            </a>
        </li>
    }
    @if (Model.LoaiTaiKhoan == 3 || Model.LoaiTaiKhoan == 0)
    {
        <li class="nav-item menu-items">
            <a asp-controller="Home" asp-action="GiaoVienList" class="nav-link">
                <span class="menu-icon">
                    <i class="mdi mdi-account-multiple"></i>
                </span>
                <span class="menu-title">Quản lý giáo viên</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a asp-controller="Home" asp-action="LopList" class="nav-link">
                <span class="menu-icon">
                    <i class="mdi mdi-laptop"></i>
                </span>
                <span class="menu-title">Quản lý lớp</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a asp-controller="Home" asp-action="HocSinhList" class="nav-link">
                <span class="menu-icon">
                    <i class="mdi mdi-account-multiple-outline"></i>
                </span>
                <span class="menu-title">Quản lý học sinh</span>
            </a>
        </li>
        <li class="nav-item menu-items">
            <a asp-controller="Home" asp-action="ThongBaoList" class="nav-link">
                <span class="menu-icon">
                    <i class="mdi mdi-bell-ring"></i>
                </span>
                <span class="menu-title">Quản lý thông báo</span>
            </a>
        </li>
    }
}